<form action="/admin/add_category" method="POST">
    <div class="form-group">
        <label class="col-md-4 control-label" style="color: #fff;" for="product_name_fr">CATEGORY
        </label>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="CATEGORY" id="product_name_fr" name="product_category">
            <br>
    <button id="singlebutton" name="singlebutton" class="btn btn-success">Add category</button>
        </div>
    </div>
</form>
