<form class="form-horizontal"  id="validate" enctype="multipart/form-data" action="/admin/addproducts" method="POST" style="color: #fff;">
<fieldset>
<!-- Form Name -->
<legend>ADD PRODUCTS</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>  
  <div class="col-md-4">
  <input id="product_name" name="product_name" placeholder="PRODUCT NAME" class="form-control input-md" type="text" >
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="product_price">PRICE</label>  
  <div class="col-md-4">
  <input id="product_price" name="product_price" placeholder="PRICE" class="form-control input-md" type="text" >
  </div>
</div>
<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_category">PRODUCT CATEGORY</label>
  <div class="col-md-4">
    <select id="category"  size="0" onchange="makeSubmenu(this.value)" name="product_category" class="form-control">
  <option value="" disabled selected>SELECT</option>
  {{#each categories}} --}}
  <option value="{{this.product_category}}">{{this.product_category}}</option>
  {{!-- <option value="MEN">MEN</option>
    <option value="WOME">WOMEN</option>

  <option value="ACCESSORIES">ACCESSORIES</option> --}}


  {{/each}}
    </select>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" for="category">SUB CATEGORY</label>
  <div class="col-md-4">
     <select  name="sub_category" id="categorySelect" size="0"  class="form-control"></select>
    <option value=""></option>
  </div>
</div>

{{!-- <!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="available_quantity">AVAILABLE QUANTITY</label>  
  <div class="col-md-4">
  <input id="available_quantity" name="available_quantity" placeholder="AVAILABLE QUANTITY" class="form-control input-md" ="" type="text">
    
  </div>
</div> --}}

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name_fr">PRODUCT DESCRIPTION </label>
  <div class="col-md-4">                     
    <textarea class="form-control" placeholder="DESCRIPTION" id="product_name_fr"  name="product_description"></textarea>
  </div>
</div>

{{!-- <!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="percentage_discount">PERCENTAGE DISCOUNT</label>  
  <div class="col-md-4">
  <input id="percentage_discount" name="percentage_discount" placeholder="PERCENTAGE DISCOUNT" class="form-control input-md" ="" type="text">
    
  </div>
</div> --}}

{{!-- <!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="stock_alert">STOCK ALERT</label>  
  <div class="col-md-4">
  <input id="stock_alert" name="stock_alert" placeholder="STOCK ALERT" class="form-control input-md" ="" type="text">
    
  </div>
</div> --}}
 <!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">main_image</label>
  <div class="col-md-4">
      <img src="../../productImages/{{product._id}}.jpg" id="Imageview" alt="no image " style="width: 100px; hight:auto;" >
        <br>
        <br>
    <input id="filebutton" name="Image" onchange="imageview(event)" class="input-file" type="file">
  </div>
</div>
<!-- File Button --> 
{{!-- <div class="form-group">
  <label class="col-md-4 control-label" for="filebutton">auxiliary_images</label>
  <div class="col-md-4">
    <input id="filebutton" name="filebutton" class="input-file" type="file">
  </div>
</div> --}}

<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-success">ADD PRODUCT</button>
  </div>
  </div>
</fieldset>
</form>

<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>