<div class="row" style="align-items: center;">
    <div class="col-md-6">
        <div class="card bg-success shadow">
            <div class="card-header bg-transparent border-0">
                <h1 class="text-white mb-0">Categories</h1>
                <br>
                <a class="btn btn-primary ml-auto" style="color:#fff;" href="/admin/add_category"> ADD</a>
            </div>
            <div class="table-responsive">
                <table id="myTable" style="color: black;" class="table align-items-center table-dark table-flush">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col" class="sort" data-sort="name"> CATEGORY</th>
                            <th scope="col"></th>
                          
                        </tr>
                    </thead>
                    <tbody class="list">
                        {{#each Category}}
                        <tr>
                            <td class="budget">
                                {{this.product_category}}
                            </td>
                            <td class="text-right">
                                        <a class="btn btn-primary" href="/admin/edit_category/{{this._id}}">Edit</a>
                                        <a class="btn btn-danger" href="/admin/delete_category/{{this._id}}">Remove</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
  