<form action="/admin/edit_category/{{result._id}}" method="POST">
    <label class="col-md-4 control-label" for="product_category">CATEGORY</label>
    <div class="col-md-4">
        <input type="text" class="form-control" value="{{result.product_category}}" placeholder="CATEGORY" id="product_name_fr" name="product_category">
        <br>
    <button id="singlebutton" name="singlebutton" class="btn btn-success">SAVE CHANGES</button>
    </div>
</form>