  <script src="../../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="../../assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="../../assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Optional JS -->
  <script src="../../assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="../../assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <!-- Argon JS -->
  <script src="../../assets/js/argon.js?v=1.2.0"></script>
 <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<script>


</script>
<script>
$(document).ready(()=>{
  $('#login').validate({
    rules:
{
  Email:{
  required:true,
  email:true
},
Password:{
  required:true,
  minlength: 4
}
}  })
})
    

$(document).ready(()=>{
  $('#validate').validate({
      rules:{
product_name:{
  required:true
},
product_price:{
  required:true
},
product_category:{
  required:true
},
product_description:{
  required:true
},
Image:{
  required:true
},
Image1:{
  required:true
},
Image2:{
  required:true
},

Email:{
  required:true,
  email:true
},
Password:{
  required:true,
  minlength: 4
}
},
messages :{
product_categor:"please select the category"
}
  })})
  
</script>
<script>

</script>
 <script>
        $(document).ready( function () {
    $('#myTable').DataTable();
} );
      </script>
       <script>
        $(document).ready( function () {
    $('#myTabl').DataTable();
} );
      </script>
<script>
    function imageview(event){
        console.log("hjbjhb")
        document.getElementById('Imageview').style.display = 'block';
        document.getElementById('Imageview').src=URL.createObjectURL(event.target.files[0])
    }
     function imageview1(event){
        console.log("hjbjhb")
        document.getElementById('Imageview1').style.display = 'block';
        document.getElementById('Imageview1').src=URL.createObjectURL(event.target.files[0])
    }
 function imageview2(event){
        console.log("hjbjhb")
        document.getElementById('Imageview2').style.display = 'block';
        document.getElementById('Imageview2').src=URL.createObjectURL(event.target.files[0])
    }









    
        function fileValidation(id,look,img) { 
            var fileInput =  
                document.getElementById(look); 
              
            var filePath = fileInput.value; 
          
            // Allowing file type 
            var allowedExtensions =  
                    /(\.jpg|\.jpeg|\.jfif|\.png|\.gif)$/i; 
              
            if (!allowedExtensions.exec(filePath)) { 
       document.getElementById(img).style.display = 'none';
    document.getElementById(id).style.display = 'block';
   fileInput.value = ''; 
                return false; 
            }
            else{
                  document.getElementById(img).style.display = 'block';
                  document.getElementById(id).style.display = 'none';

            } }
</script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/persuit/home-carousel.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Feb 2021 07:24:02 GMT -->
</html>