<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>

<script src="../vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="../vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="../vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="../vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="../vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="../vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="../vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="../vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="../vendors/counterup/jquery.waypoints.min.js"></script>
<script src="../vendors/counterup/jquery.counterup.min.js"></script>
<script src="../vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="../vendors/bootstrap-selector/js/bootstrap-select.min.js"></script>
<script src="../vendors/image-dropdown/jquery.dd.min.js"></script>
<script src="../js/smoothscroll.js"></script>
<script src="../vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="../vendors/isotope/isotope.pkgd.min.js"></script>
<script src="../vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
<script src="../vendors/vertical-slider/js/jQuery.verticalCarousel.js"></script>
<script src="../vendors/jquery-ui/jquery-ui.js"></script>
<script src="../js/theme.js"></script>
<script src="https://kit.fontawesome.com/6d4aca2192.js" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>

<script>
</script>
<script>
$(document).ready(()=>{
  $('#validate').validate({
    rules:{
Email:{
  required:true,
  email:true
},
Username:{
  required:true
},
Name:{
required:true,
},
Password:{
  required:true,
  minlength: 4
},
Username:{
  required:true
},
Phone:{
 minlength: 10,
 maxlength: 10,
  required:true
}
    }
  })
})

</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> --}}
<script src="../js/ajax.js"></script>
    <script src='../js/index.js'></script>

</body>

<!-- Mirrored from preview.colorlib.com/theme/persuit/home-carousel.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 22 Feb 2021 07:24:02 GMT -->
</html>