<html>
<script src="https://jsuites.net/v4/jsuites.js"></script>
<script src="https://jsuites.net/v4/jsuites.layout.js"></script>
<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.css" type="text/css" />
<link rel="stylesheet" href="https://jsuites.net/v4/jsuites.layout.css" type="text/css" />
 
<div class='row'>
    <div class='column p10'>
        <div id='image-cropper' style='border:1px solid #ccc'></div>
    </div><div class='column f1 p10'>
        <div id='image-cropper-result'><img style='width:120px;height:120px;'></div>
    </div>
</div>
 
<input type='button' value='Get cropped image' id='image-getter' class='jbutton dark'>
 
<script>
jSuites.crop(document.getElementById('image-cropper'), {
    area: [ 320, 320 ],
    crop: [ 150, 150 ],
})
 
document.getElementById('image-getter').onclick = function() {
    document.getElementById('image-cropper-result').children[0].src = document.getElementById('image-cropper').crop.getCroppedImage().src;  
}
</script>
</html>