<section class="login_area p_100">
    <div class="container">
        <div class="login_inner">
            <div class="row">
                <div class="col-lg-5">
                    <div class="login_title">
                        <h2>Edit account</h2>
                    </div>

                    <form action="/editUser" method="POST" id="Validate" class="login_form row">
                        <div class="col-lg-12 form-group">
                            <label for="">Name</label>
                            <input value="{{USER.Name}}" class="form-control" name="Name" type="text" placeholder="Name">
                        </div>
                        <div class="col-lg-12 form-group">
                            <label for="">Email</label>
                            <input value="{{USER.Email}}" class="form-control" name="Email" placeholder="Email">
                        </div>
                        <div class="row col-lg-12">
                            <div class="col-lg-6 form-group ">
                                <label for="">Mobile</label>
                                <input class="form-control" id="No" value="{{USER.Phone}}" name="Phone" type="number" placeholder="Phone">
                            </div>
                            <div class="col-lg-2 mt-1 ml-auto form-group">
                            </div>
                        </div>
                        <div class="col-lg-12 form-group">
                            <button type="submit" value="submit" class="btn update_btn form-control">Apply Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>