<div class="jumbotron text-center">
  <h1 class="display-3">Order Submitted Successfully</h1>
  <p class="lead"><strong>Please check your orders</strong> for further instructions</p>
  <hr>
  <p>
 <a href="/all-orders">All Orders</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Continue Shopping</a>
  </p>
</div>